* {
  box-sizing: border-box;
}
body {
  background-color: mistyrose;
}
.wrapper { 
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}
.box {
  width: 100px;
  height: 100px;
  background-color: rgb(244, 241, 231);
  border: 1px rgb(255, 182, 174) solid;
  text-align: center;
  font-size: 90px;
}
#square-effect {
  background-color: gray;
}

.input-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.player-info {
  display: flex;
  justify-content: space-evenly;
}

input {
  width: 300px;
  text-align: center;
}

